# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

emoji.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Jetbrainse
.idea/

# VSCode
.vscode/
.history

# CI
bin/

assets/reveal/
assets/mermaid/
assets/twemoji/

pkged.go

# gorelease
dist/

#Taskfile
.task/