<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>goveal</title>

    <link rel="stylesheet" href="/dist/reveal.css">
    <link rel="stylesheet" href="/dist/reset.css">
    <link rel="stylesheet" href="/dist/theme/{{ .Reveal.Theme }}.css" id="theme">

    <link rel="stylesheet" href="/plugin/highlight/{{ .Reveal.CodeTheme }}.css">
</head>

<body>

<div class="reveal">
    <div class="slides">
        <section data-markdown="/content.md"
                 data-separator="^{{ .Reveal.LineEnding -}}{{ .Reveal.HorizontalSeparator }}{{- .Reveal.LineEnding }}"
                 data-separator-vertical="^{{ .Reveal.LineEnding -}}{{ .Reveal.VerticalSeparator }}{{- .Reveal.LineEnding }}"
                 data-separator-notes="^Note:"
                 data-charset="iso-8859-15">
        </section>
    </div>
</div>

<script src="/dist/reveal.js"></script>
<script src="/plugin/markdown/markdown.js"></script>
<script src="/plugin/highlight/highlight.js"></script>
<script src="/plugin/notes/notes.js"></script>
<script src="/plugin/menu/menu.js"></script>
<script src="/js/reload.js"></script>

<script>
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        slideNumber: true,
        hash: true,
        transition: '{{ .Reveal.Transition }}', // none/fade/slide/convex/concave/zoom
        navigationMode: {{ .Reveal.NavigationMode | trim | quote }},
        showSlideNumber: {{ .Reveal.SlideNumberVisibility | trim | quote }},
        slideNumber: '{{ .Reveal.SlideNumberFormat }}',
        markdown: {
            smartypants: true,
            smartLists: true
        },
        pdfSeparateFragments: false,
        menu: {
            numbers: true,
            useTextContentForMissingTitles: true,
            custom: [
                {
                    title: 'Print',
                    icon: '<i class="fas fa-print"></i>',
                    content: '<a href="/?print-pdf">Go to print view<a/>'
                }
            ],
            themes: [
                {name: 'Beige', theme: '/dist/theme/beige.css'},
                {name: 'Black', theme: '/dist/theme/black.css'},
                {name: 'Blood', theme: '/dist/theme/blood.css'},
                {name: 'League', theme: '/dist/theme/league.css'},
                {name: 'Moon', theme: '/dist/theme/moon.css'},
                {name: 'Night', theme: '/dist/theme/night.css'},
                {name: 'Serif', theme: '/dist/theme/serif.css'},
                {name: 'Simple', theme: '/dist/theme/simple.css'},
                {name: 'Sky', theme: '/dist/theme/sky.css'},
                {name: 'Solarized', theme: '/dist/theme/solarized.css'},
                {name: 'White', theme: '/dist/theme/white.css'}
            ],
            transitions: true,
        },
        plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealMenu ]
    });

    {{ if .Reveal.StyleSheets }}
    {{ range $idx, $style := .Reveal.StyleSheets }}
    var additionalStyleSheet = document.createElement('link');
    additionalStyleSheet.rel = 'stylesheet';
    additionalStyleSheet.type = 'text/css';
    additionalStyleSheet.href = '/{{- $style }}';
    document.getElementsByTagName('head')[0].appendChild(additionalStyleSheet);
    {{ end }}
    {{ end }}

    {{ if .Reveal.FilesToMonitor }}
    {{ range $idx, $file := .Reveal.FilesToMonitor }}
    subscribeForUpdates("/{{ $file }}")
    {{ end }}
    {{ end }}

    subscribeForUpdates("/content.md")

</script>

</body>
</html>
